body {
  background: #1c1d1f;
}

.AfterTime {
  margin-right: 12px;
  width: 34px;
  font-weight: 600;
  line-height: 28px;
  color: #525254;
  font-size: 18px;
}

.App {
  display: flex;
}

input::placeholder {
  color: #525254;
  text-align: center;
}
