input::placeholder {
  color: white;
}

body {
  background: #1c1d1f;
  height: 600px;
}

.AfterTime {
  margin-right: 12px;
  width: 34px;
  font-weight: 600;
  line-height: 28px;
  color: #525254;
  font-size: 18px;
}

.App {
  display: flex;
}
